spring:
  application:
    name: PENSIONER-DETAIL
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:pension-management;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    username: ${DB_USERNAME:suki}
    password: ${DB_PASSWORD:password}
    embedded-database-connection: h2
  jpa:
    database: h2
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

server:
  port: ${PORT:7000}

management:
  endpoints:
    web:
      exposure:
        include: "*"

---

spring:
  config:
    activate:
      on-profile: dev

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:7761/eureka

---

spring:
  config:
    activate:
      on-profile: docker

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://service-registry:8761/eureka

---

spring:
  config:
    activate:
      on-profile: aws

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${AWS_URL:http://shuktika-service-registry-lb-1645211513.ap-south-1.elb.amazonaws.com/eureka}

---

spring:
  profiles:
    active: ${PROFILE:dev}
