footer {
  position: fixed;
  bottom: 0;
  background-color: wheat;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  font-family: monospace;
  letter-spacing: 2px;
}

main {
  width: 100vw;
  position: relative;
}
